<% provide(:title, 'Inicio') %>


<br>
<div class="hero-unit">
  <h3 class="text-center">Sistema de Gesti&oacute;n de devocionales Bah&aacute;'&iacute;s</h3>
  <p>Para iniciar </p>
  <div class="home-left-box">
  </div>
</div>
  <div class="login-holder">
	<table>
	  <tr>
	    <td class="left-login-holder">
	      <label class="control-label" for="inputEmail">Email</label>
	    </td>
	    <td class="right-login-holder">
	      <div class="controls">
	        <input type="text" id="inputEmail" placeholder="Email">
	      </div>
	    </td>
	  </tr>
	  <tr>
	    <td class="left-login-holder">
	      <label class="control-label" for="inputEmail">Contrase&ntilde;a</label>
	    </td>
	    <td class="right-login-holder">
	      <div class="controls">
	        <input type="password" id="inputPassword" placeholder="Password">
	      </div>
	    </td>
	  </tr>
	  <tr>
	    <td class="left-login-holder">
	    </td>
	    <td class="right-login-holder">
	      <div class="controls right-login-top-margin">
	        <button type="submit" class="btn">Iniciar sesi&oacute;n</button>&nbsp;&nbsp;
		    <input type="checkbox" id="remember-me-checkbox"> Recordarme
	      </div>
	    </td>
	  </tr>
	  <tr>
	    <td class="left-login-holder " >
	    </td>
	    <td class="right-login-holder">
	      <div class="controls right-login-top-margin">
	        <a href="#">&iquest;Olvid&oacute; su contrase&ntilde;a?</a>
	      </div>
	    </td>
	  </tr>
	</table>
  </div>

