<% provide(:title, 'Inicio') %>


<!--<br>
<div class="hero-unit">
  <h3 class="text-center">Sistema de Gesti&oacute;n de devocionales Bah&aacute;'&iacute;s</h3>
  <p>Para iniciar </p>
  <div class="home-left-box">
  </div>
</div>
  <div class="login-holder">
	<table>
	  <tr>
	    <td class="left-login-holder">
	      <label class="control-label" for="inputEmail">Email</label>
	    </td>
	    <td class="right-login-holder">
	      <div class="controls">
	        <input type="text" id="inputEmail" placeholder="Email">
	      </div>
	    </td>
	  </tr>
	  <tr>
	    <td class="left-login-holder">
	      <label class="control-label" for="inputEmail">Contrase&ntilde;a</label>
	    </td>
	    <td class="right-login-holder">
	      <div class="controls">
	        <input type="password" id="inputPassword" placeholder="Password">
	      </div>
	    </td>
	  </tr>
	  <tr>
	    <td class="left-login-holder">
	    </td>
	    <td class="right-login-holder">
	      <div class="controls right-login-top-margin">
	        <button type="submit" class="btn">Iniciar sesi&oacute;n</button>&nbsp;&nbsp;
		    <input type="checkbox" id="remember-me-checkbox"> Recordarme
	      </div>
	    </td>
	  </tr>
	  <tr>
	    <td class="left-login-holder " >
	    </td>
	    <td class="right-login-holder">
	      <div class="controls right-login-top-margin">
	        <a href="#">&iquest;Olvid&oacute; su contrase&ntilde;a?</a>
	      </div>
	    </td>
	  </tr>
	</table>
  </div>

-->
<div class="account-container stacked">
	
	<div class="content clearfix">
		
		<form action="./index.html" method="post">
		
			<h1>Iniciar sesi&oacute;n</h1>		
			
			<div class="login-fields">
				
				<p>Inicie sesi&oacute;n usando su cuenta registrada:</p>
				
				<div class="field">
					<label for="username">Usuario:</label>
					<input type="text" id="username" name="username" value="" placeholder="Usuario" class="form-control input-lg username-field" />
				</div> <!-- /field -->
				
				<div class="field">
					<label for="password">Contrase&ntilde;a:</label>
					<input type="password" id="password" name="password" value="" placeholder="Contrase&ntilde;a" class="form-control input-lg password-field"/>
				</div> <!-- /password -->
				
			</div> <!-- /login-fields -->
			
			<div class="login-actions">
				
				<span class="login-checkbox">
					<input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
					<label class="choice" for="Field">Mantener activa mi ses&iacute;on.</label>
				</span>
									
				<button class="login-action btn btn-primary">Iniciar sesi&oacute;n</button>
				
			</div> <!-- .actions -->
			<!--
			<div class="login-social">
				<p>Sign in using social network:</p>
				
				<div class="twitter">
					<a href="#" class="btn_1">Login with Twitter</a>				
				</div>
				
				<div class="fb">
					<a href="#" class="btn_2">Login with Facebook</a>				
				</div>
			</div>
			-->
			
		</form>
		
	</div> <!-- /content -->
	
</div> <!-- /account-container -->


<!-- Text Under Box -->
<div class="login-extra">
	&iquest;No tiene una cuenta a&uacute;n?<a href="./signup.html"> Reg&iacute;strese.</a><br/>
	&iquest;No recuerda su contrase&ntilde;a?<a href="#"> Recup&eacute;rela.</a>
</div> <!-- /login-extra -->


